<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665786080620-h1jv1ici8r4730jjilacfkonfv6ag9va.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665786080620-h1jv1ici8r4730jjilacfkonfv6ag9va</string>
	<key>API_KEY</key>
	<string>AIzaSyC1wHoUk16rhNbLxacYYC-1X-wOtpAF9Jo</string>
	<key>GCM_SENDER_ID</key>
	<string>665786080620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnboilerplate</string>
	<key>PROJECT_ID</key>
	<string>safa-outdoors</string>
	<key>STORAGE_BUCKET</key>
	<string>safa-outdoors.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665786080620:ios:c1dba480cf74025259a749</string>
</dict>
</plist>